#main{
  font-size: 10vw;

  word-wrap: break-word;
  overflow: auto;
  display: block;
  width: 100%;
  text-align: center;
}

#submitAnswer{
	background-color: green;
	font-size: 5vw;
	text-align: center;
}

#timer{
  font-size: 5vw;
  position: absolute;
  right: 2%;
  top: 0%;
  transform: translate(0%, 0%);

}	
	
#correctAnswer{
	display: none;
}

#answers{
	display: none;
}

#answer{
  border: 1px dotted gray;
}

