#main{
  font-size: 10vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
  overflow: auto;
  display: block;
  width: 100%;
  text-align: center;
}

#timer{
  font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);

}	
	
#correctAnswer{
	display: none;
}

#answers{
	display: none;
}

#answer{
  border: 1px dotted gray;
}

}